<!DOCTYPE html>
<html>
  <head>
    <title>Simple CMS | <%= @page_title || "Admin" %></title>
    <%= stylesheet_link_tag('application', :media => 'all') %>
  </head>
  <body>
    <div id="header">
      <h1>Simple CMS Admin</h1>
    </div><!-- ./header -->

    <div id="main">
      <%= render(:partial => 'layouts/alerts') %>
      <div id="content">
        <%= yield %>
      </div><!-- ./content -->
    </div><!-- ./main -->

    <div id="footer">
      <p id="copyright">© MUFICATA RTDL SL / Ferran Cabrer i Vilagut / 12 Jaume Fabra 08004 Barcelona (CATALONIA)</p>
    </div><!-- ./footer -->
  </body>
</html>
