<!DOCTYPE html>
<html>
  <head>
    <title>Simple CMS</title>
    <%= javascript_include_tag('public') %>
<!--    <link href="images/4favicon.ico" rel="shortcut icon" type="image/x-icon" /> -->
<!--    <link rel="shortcut icon" href="images/4favicon.ico" /> -->
<!--    <%= favicon_link_tag '4favicon.ico' %> -->
<!--    <link rel="icon" type="image/png" href="images/NID_favicon.png"> -->
  </head>
  <body>
    <%= render(:partial => 'layouts/alerts') %>
    <!-- before yield -->
    <%= yield %>
    <!-- after yield -->

  </body>
</html>
